In [140]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [141]:
#df = pd.read_csv('65262-110-values.csv')

In [142]:
#df.dropna(inplace=True)

In [143]:
#df.head()

In [144]:
#df_copy = df.copy()

In [145]:
#df_copy.drop("timestamp", axis=1, inplace=True)

In [146]:
#df_copy

In [147]:
#df

In [148]:
#df_copy.value_counts("pgn")

In [149]:
#counts = df_copy["pgn"].value_counts()

In [150]:
#counts = df_copy.pgn.value_counts()
#counts.to_csv('name.csv')

In [151]:
#df_copy.groupby(["pgn", "spn"]).spn.value_counts().to_csv("spn_list.csv")

In [152]:
#df_copy.groupby(["pgn", "spn"]).value_counts()

### Creating a dataset with relevant PGNs

In [153]:
#values = [61443, 61444, 61441, 65247, 65266, 61450, 61677, 65248, 64914, 65263, 34560, 65213, 64817, 65253, 64777, 65262]

In [154]:
#df_new = df_copy[df_copy['pgn'].isin(values)]

In [155]:
#df_new.to_csv('relevant_data.csv')

In [156]:
#df_new.shape[0]             #reduced data

In [157]:
#df_new['pgn' == 61441].isin({'decodedValue' : 0.0}).value_counts()
#((df_new['pgn'] == 61441) & (df_new['decodedValue'] == 0.0)).value_counts()

In [158]:
df = pd.read_csv('relevant_data.csv')

In [159]:
#df.groupby(['pgn', 'spn']).size().to_csv('spns.csv')

In [160]:
df['pgn'].isin([34560, 61677, 64914]).value_counts()

pgn
False    36539916
True      1121789
Name: count, dtype: int64

In [161]:
df = df.loc[(df['pgn'] != 34560) & (df['pgn'] != 61677) & (df['pgn'] != 64914)]

In [162]:
df['pgn'].isin([34560, 61677, 64914]).value_counts()

pgn
False    36539916
Name: count, dtype: int64

In [163]:
df["sensor"] = df['pgn'].astype(str) +"-"+ df["spn"].astype(str)

In [164]:
df.head(10)

   Unnamed: 0    pgn   spn  decodedValue      sensor
0          11  61444   512          45.0   61444-512
1          12  61444  2432          43.0  61444-2432
2          13  61444   513          42.0   61444-513
3          14  61444   899           7.0   61444-899
4          15  61444  4154           1.0  61444-4154
5          16  61444  1483           3.0  61444-1483
6          17  61444  1675           0.0  61444-1675
7          18  61444   190        1316.5   61444-190
8          19  65247   514           9.0   65247-514
9          20  65247  2978           0.0  65247-2978

In [165]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [166]:
df.head(10)

     pgn   spn  decodedValue      sensor
0  61444   512          45.0   61444-512
1  61444  2432          43.0  61444-2432
2  61444   513          42.0   61444-513
3  61444   899           7.0   61444-899
4  61444  4154           1.0  61444-4154
5  61444  1483           3.0  61444-1483
6  61444  1675           0.0  61444-1675
7  61444   190        1316.5   61444-190
8  65247   514           9.0   65247-514
9  65247  2978           0.0  65247-2978

In [167]:
df['sensor'].info()

<class 'pandas.core.series.Series'>
Index: 36539916 entries, 0 to 37661704
Series name: sensor
Non-Null Count     Dtype
--------------     -----
36539916 non-null  object
dtypes: object(1)
memory usage: 557.6+ MB

In [168]:
#print(df.loc[(df['sensor'] == '65266-184'), 'decodedValue'].describe())

In [169]:
sensors = ['61441-521', '61441-973', '61443-91', '61443-92', '61443-974', '61443-29', '61443-3357', '61443-5398', '61444-4154', '61444-512', '61444-513', '61444-190', '61444-2432', '61450-2659', '61450-132', '61450-5257', '64817-1550', '64817-1598', '65213-975', '65213-1639', '65247-514', '65247-515', '65247-2978', '65262-110', '65262-174', '65262-175', '65262-176', '65262-52', '65263-94', '65263-22', '65263-98', '65263-100', '65263-101', '65263-109', '65263-111', '65266-183', '65266-184', '65266-185', '65266-51', '65266-3673']

In [170]:
df = df[df['sensor'].isin(sensors)]

In [171]:
df.shape

(17034763, 4)

In [172]:
#new_df = pd.DataFrame(columns = sensors)

In [173]:
#new_df

In [174]:
lsofdicts = []
for index,rows in df.iterrows():
    x = rows[3]
    y = rows[2]
    z = {x: y}
    lsofdicts.append(z)
this_df = pd.DataFrame(lsofdicts)

In [175]:
#pd.concat([new_df, z], ignore_index=True)

In [176]:
this_df.head(10)

,61444-512,61444-2432,61444-513,61444-4154,61444-190,65247-514,65247-2978,65247-515,61443-5398,61443-91,...,61443-974,65266-3673,65263-98,65263-22,65263-94,64817-1550,65262-176,65262-52,65262-175,65262-174
0,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,43.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,1316.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5125.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
#pd.concat([new_df, this_df], ignore_index=True)

In [178]:
this_df.fillna(this_df.mean(), inplace=True)

In [179]:
this_df.head(10)

,61444-512,61444-2432,61444-513,61444-4154,61444-190,65247-514,65247-2978,65247-515,61443-5398,61443-91,...,61443-974,65266-3673,65263-98,65263-22,65263-94,64817-1550,65262-176,65262-52,65262-175,65262-174
0,45.000000,23.252073,19.163013,0.49414,4132.423393,7.303985,0.0,5123.058988,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
1,21.678727,43.000000,19.163013,0.49414,4132.423393,7.303985,0.0,5123.058988,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
2,21.678727,23.252073,42.000000,0.49414,4132.423393,7.303985,0.0,5123.058988,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
3,21.678727,23.252073,19.163013,1.00000,4132.423393,7.303985,0.0,5123.058988,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
4,21.678727,23.252073,19.163013,0.49414,1316.500000,7.303985,0.0,5123.058988,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
5,21.678727,23.252073,19.163013,0.49414,4132.423393,9.000000,0.0,5123.058988,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
6,21.678727,23.252073,19.163013,0.49414,4132.423393,7.303985,0.0,5123.058988,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
7,21.678727,23.252073,19.163013,0.49414,4132.423393,7.303985,0.0,5125.000000,2.016472,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
8,21.678727,23.252073,19.163013,0.49414,4132.423393,7.303985,0.0,5123.058988,3.000000,26.601514,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0
9,21.678727,23.252073,19.163013,0.49414,4132.423393,7.303985,0.0,5123.058988,2.016472,53.600000,...,0.564433,0.271186,1.44,0.160714,12.0,1.714286,72.039062,-39.423077,259.587891,-40.0

In [180]:
this_df.to_csv('one_more.csv')