In [14]:
import numpy as np
#%load_ext cudf.pandas
import pandas as pd
import random as rand
import matplotlib.pyplot as plt

In [15]:
f1 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+38.csv')    #8 datasets for introducing faults into them
f2 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+37.csv')
f3 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+36.csv')
f4 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+35.csv')
f5 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+34.csv')
f6 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+33.csv')
f7 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+32.csv')
f8 = pd.read_csv(r'C:\Users\virag\Documents\GitHub\Predictive-Maintenance\synthetic_cooling+31.csv')

In [16]:
f2.head()

   Unnamed: 0  65262-110  65263-111  64817-1598  example_id
0           0  90.476166  49.987540   4095.9292           0
1           1  90.475450  49.987514   4095.9272           0
2           2  90.475420  49.987514   4095.9272           0
3           3  90.475420  49.987514   4095.9272           0
4           4  90.475420  49.987514   4095.9272           0

Making sure that the synthetic data meets the data ranges.

In [17]:
dsets = [f1, f2, f3, f4, f5, f6, f7, f8]
for item in dsets:
    item.drop(['Unnamed: 0', 'example_id'], axis=1, inplace=True)
for item in dsets:
    for index,rows in item.iterrows():
        if(rows[0] < -40):
            rows[0] = -40
        elif(rows[0] > 210):
            rows[0] = 210
        if(rows[1] < 0):
            rows[1] = 0
        elif(rows[1]>100):
            rows[1] = 100
        if(rows[2] < 0):
            rows[2] = 0
        elif(rows[2] > 8031.875):
            rows[2] = 8031.875

In [18]:
f1.describe()

          65262-110     65263-111    64817-1598
count  92544.000000  92544.000000  92544.000000
mean      90.923547     49.801579   4095.610649
std        1.521882      0.377262      0.555098
min       82.348450     46.243210   4090.318600
25%       89.864760     49.765972   4095.458300
50%       90.818970     49.994534   4095.831000
75%       91.912704     49.999996   4095.964800
max       95.330050     50.000000   4096.000000

Below is the first Category of fault