In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [3]:
#df = pd.read_csv('20181123_102054.csv')
df = pd.read_csv('65262-110-values.csv')

In [4]:
df.dropna(inplace=True)

In [5]:
df.head()

   timestamp  pgn   spn  decodedValue
0         46    0   897           1.0
1         46    0   898        6340.5
2         46    0   518         100.0
3         46    0   696           1.0
4         46    0  4207           2.0

In [6]:
df_copy = df.copy()

In [7]:
df_copy.drop("timestamp", axis=1, inplace=True)

In [8]:
df_copy

             pgn   spn  decodedValue
0              0   897          1.00
1              0   898       6340.50
2              0   518        100.00
3              0   696          1.00
4              0  4207          2.00
...          ...   ...           ...
103610827  64510  7985          0.00
103610828  64510  7986          0.00
103610829  64510  7987        240.25
103610830  64510  7988          0.00
103610831  64510  7983          1.00

[103610832 rows x 3 columns]

In [9]:
df

           timestamp    pgn   spn  decodedValue
0                 46      0   897          1.00
1                 46      0   898       6340.50
2                 46      0   518        100.00
3                 46      0   696          1.00
4                 46      0  4207          2.00
...              ...    ...   ...           ...
103610827   36297254  64510  7985          0.00
103610828   36297254  64510  7986          0.00
103610829   36297254  64510  7987        240.25
103610830   36297254  64510  7988          0.00
103610831   36297254  64510  7983          1.00

[103610832 rows x 4 columns]

In [10]:
df_copy.value_counts("pgn")

pgn
256      12122232
0        11389144
61443    10097003
61444     9757642
65264     9012130
           ...
64980       11880
64554       10790
65279        9464
65261        2098
61685         481
Name: count, Length: 73, dtype: int64

In [11]:
counts = df_copy["pgn"].value_counts()

In [19]:
(df_copy["pgn"]).isin([65262]).value_counts()

pgn
False    103588460
True         22372
Name: count, dtype: int64

In [22]:
counts = df_copy.pgn.value_counts()
counts.to_csv('name.csv')

In [26]:
df_copy.groupby(["pgn", "spn"]).spn.value_counts().to_csv("spn_list.csv")

In [31]:
df_copy.groupby(["pgn", "spn"]).value_counts()

pgn    spn   decodedValue
0      518   100.0           2266391
             0.0                  49
             67.0                 38
             107.0                28
             68.0                 19
                              ...
65279  5826  0.0                2365
       8428  3840.0                1
       8611  0.0                2365
       8612  0.0                2365
       9373  0.0                   3
Name: count, Length: 208480, dtype: int64